<div class="row">
    <div class="col-12 mb-4">

        <!-- panel title -->
        <p class="mb-2 p-2 outline text-center feature-container-header">Server Requests</p>
        
        <!-- button/filter panel -->
        <div class="outline p-4 feature-container-body">
        
            <!-- buttons -->
            <div
                id="serverRequestButtons"
                class="text-center mt-2">
                <button
                    class="btn btn-primary"
                    (click)="sendOneRequest()">
                    Send One
                </button>
                <button
                    class="btn btn-primary ms-1"
                    (click)="sendFiveRequests()">
                    Send Five
                </button>
                <button
                    class="btn btn-danger ms-1"
                    (click)="resetServer()">
                    Reset Server
                </button>
            </div>
        
            <!-- checkboxes -->
            <div class="text-center">
        
                <div class="form-check form-check-inline mt-4">
                    <input
                        id="addThreeCheckbox"
                        class="form-check-input"
                        type="checkbox"
                        [(ngModel)]="processingOptions.addThree">
                    <label
                        class="form-check-label"
                        for="flexCheckDefault">
                        Add Three
                    </label>
                </div>
        
                <div class="form-check form-check-inline">
                    <input
                        id="mergeCheckbox"
                        class="form-check-input"
                        type="checkbox"
                        [(ngModel)]="processingOptions.filterOdds">
                    <label
                        class="form-check-label"
                        for="flexCheckChecked">
                        Filter Odds
                    </label>
                </div>
        
            </div>
        </div>

    </div>
    <div class="col-12">

        <!-- title -->
        <p class="mb-2 p-2 outline text-center feature-container-header">Server Responses</p>
       
        <!-- response container -->
        <div class="mt-2 response-container outline feature-container-body">
            <ul>
                <li *ngFor="let response of serverResponses">
                    Response {{response.responseNumber}} --> Value: {{response.responseValue}}
                </li>
            </ul>
        </div>

    </div>
</div>