@use '../../../style/partials';

.outline {
    border: 1px solid black;
    padding: 5px;
}

.response-container {
    overflow-y: auto;
    height: 18vh;
    display: flex;
    flex-direction: column-reverse;
}

.word-filter-container {
    height: 18vh;
}

.feature-container-header {
    background-color: partials.$container-bg-dark;
}

.feature-container-body {
    background-color: partials.$container-bg-light;
}

#syncIcon {
    color: partials.$container-accent;
}

.isProcessing {
    color: partials.$container-bg-light
}
