.outline {
    border: 1px solid black;
    padding: 5px;
}

.response-container {
    overflow-y: auto;
    height: 18vh;
    display: flex;
    flex-direction: column-reverse;
}

.word-filter-container {
    height: 18vh;
}